<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/vehicleBanner.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Sanjay Adhikari</h3>
      </div>

      <div class="text-center">@sanjayadhikari</div>
      <div class="text-center">
        <a href="https://github.com/sanjay-adhikari">www.bit.ly/SanjaysGitSourceCode</a>
      </div>
    </div>
  </div>
</div>